# Lab 4

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/GGweelplay/geog-510/blob/lab/HsiangChunChen_lab_04.ipynb)

## Exercise 1: Variable Assignment and Basic Operations

Create variables to store the following geospatial data:

- The latitude and longitude of New York City: 40.7128, -74.0060.
- The population of New York City: 8,336,817.
- The area of New York City in square kilometers: 783.8.

Perform the following tasks:

1. Calculate and print the population density of New York City (population per square kilometer).
2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

In [ ]:
NYC_latlon = (40.7128, -74.0060)
NYC_pop = 8336817
NYC_area_sqkm = 783.8

NYC_pop_den = NYC_pop / NYC_area_sqkm
print(f"Population density of New York City: {NYC_pop_den}")
print(f"Latitude: {NYC_latlon[0]}, Longitude: {NYC_latlon[1]}")

Population density of New York City: 10636.408522582293
Latitude: 40.7128, Longitude: -74.006

## Exercise 2: Working with Strings

Create a string variable to store the name of a city, such as "San Francisco". Perform the following operations:

1. Convert the string to lowercase and print the result.
2. Convert the string to uppercase and print the result.
3. Replace "San" with "Los" in the city name and print the new string.

In [ ]:
city_name = "San Francisco"

print(city_name.lower())
print(city_name.upper())
print(city_name.replace("San", "Los"))

san francisco
SAN FRANCISCO
Los Francisco

## Exercise 3: Using Lists

Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

- New York City: (40.7128, -74.0060)
- Los Angeles: (34.0522, -118.2437)
- Chicago: (41.8781, -87.6298)

Perform the following tasks:

1. Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.
2. Print the entire list of cities.
3. Slice the list to print only the first two cities.

In [ ]:
city_list = [("New York City", (40.7128, -74.0060)), ("Los Angeles", (34.0522, -118.2437)), ("Chicago", (41.8781, -87.6298))]

city_list.append(("Miami", (25.7617, -80.1918)))
print(city_list)
print(city_list[:2])

[('New York City', (40.7128, -74.006)), ('Los Angeles', (34.0522, -118.2437)), ('Chicago', (41.8781, -87.6298)), ('Miami', (25.7617, -80.1918))]
[('New York City', (40.7128, -74.006)), ('Los Angeles', (34.0522, -118.2437))]

## Exercise 4: Using Tuples

Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:

1. Access and print the latitude and longitude values from the tuple.
2. Try to change the latitude value to 48.8585. What happens? Explain why.

In [ ]:
ET_latlon = (48.8584, 2.2945)

print(ET_latlon[0], ET_latlon[1])
ET_latlon[0] = 48.8585

48.8584 2.2945

TypeError: 'tuple' object does not support item assignment

Exercise 4 answer: This is because tuples are immutable sequences, meaning we cannot directly change the values stored in a tuple.

## Exercise 5: Working with Sets

Create a set of countries you have visited, such as {"USA", "France", "Germany"}. Perform the following tasks:

1. Add a new country to the set.
2. Try to add the same country again. What happens?
3. Print the updated set.

In [ ]:
countries_set = set(["USA", "France", "Germany"])

countries_set.add("Italy")
print(countries_set)
countries_set.add("USA")
print(countries_set)
print("The newly added 'USA' does not appear in the set because sets do not allow duplicate values.")
print(f"Updated set: {countries_set}")

{'France', 'Germany', 'USA', 'Italy'}
{'France', 'Germany', 'USA', 'Italy'}
The newly added 'USA' does not appear in the set because sets do not allow duplicate values.
Updated set: {'France', 'Germany', 'USA', 'Italy'}

## Exercise 6: Working with Dictionaries

Create a dictionary to store information about a specific geospatial feature, such as a river:

- Name: "Amazon River"
- Length: 6400 km
- Countries: ["Brazil", "Peru", "Colombia"]

Perform the following tasks:

1. Add a new key-value pair to the dictionary to store the river's average discharge (e.g., 209,000 mÂ³/s).
2. Update the length of the river to 6992 km.
3. Print the dictionary.

In [ ]:
river_dict = {"Name" : "Amazon River",
              "Length" : "6400 km",
              "Countries" : ["Brazil", "Peru", "Colombia"]}

river_dict["Average discharge"] = "209,000 mÂ³/s"
river_dict["Length"] = "6992 km"
print(river_dict)

{'Name': 'Amazon River', 'Length': '6992 km', 'Countries': ['Brazil', 'Peru', 'Colombia'], 'Average discharge': '209,000 mÂ³/s'}

## Exercise 7: Nested Data Structures

Create a dictionary to represent a city that contains the city's name, population, and coordinates (latitude, longitude):

- Name: "Tokyo"
- Population: 13,515,271
- Coordinates: (35.6895, 139.6917)

Perform the following tasks:

1. Access and print the population of the city.
2. Access and print the city's latitude.
3. Update the population to 14,000,000 and print the updated dictionary.

In [ ]:
city_dict = {"Name" : "Tokyo",
             "Population" : 13515271,
             "Coordinates" : (35.6895, 139.6917)}

print(city_dict.get("Population"))
print(city_dict.get("Coordinates")[0])
city_dict["Population"] = 14000000
print(city_dict.get("Population"))

13515271
35.6895
14000000

## Exercise 8: List Operations

Given the list of cities from Exercise 3, perform the following operations:

1. Sort the list of cities alphabetically by name.
2. Create a new list that contains only the city names.
3. Remove the last city from the original list and print the updated list.

In [ ]:
city_list.sort()
new_city_list = [city_name[0] for city_name in city_list]
new_city_list.pop(-1)
print(new_city_list)

['Chicago', 'Los Angeles', 'Miami']

## Exercise 9: Dictionary Operations

Using the dictionary from Exercise 6, perform the following tasks:

1. Check if the key "Length" exists in the dictionary.
2. Print all the keys in the dictionary.
3. Print all the values in the dictionary.

In [ ]:
print(river_dict.get("Length"))
print(river_dict.keys())
print(river_dict.values())

6992 km
dict_keys(['Name', 'Length', 'Countries', 'Average discharge'])
dict_values(['Amazon River', '6992 km', ['Brazil', 'Peru', 'Colombia'], '209,000 mÂ³/s'])

## Exercise 10: Practical Application

Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:

In [ ]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

Perform the following tasks:

1. Create a new list that contains only the names of the locations.
2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
3. Print the latitude of "K2" using the dictionary.

In [ ]:
locations_list = [location[0] for location in locations]
print(locations_list)
coordinates_list = [(coordinates[1], coordinates[2]) for coordinates in locations]

locations_dict = {k: v for k, v in zip(locations_list, coordinates_list)}
print(locations_dict.get("K2")[0])

['Mount Everest', 'K2', 'Kangchenjunga']
35.8808

## Exercise 11: Manipulating Geographic Location Strings

- Create a string that represents the name of a geographic feature (e.g., `"Amazon River"`).
- Convert the string to lowercase and then to uppercase.
- Concatenate the string with the name of the country (e.g., `"Brazil"`) to create a full location name.
- Repeat the string three times, separating each repetition with a dash (`-`).

In [ ]:
str11 = "Amazon River"
str11.lower()
str11.upper()
str11 = str11 + ", Brazil"
((str11 + " - " )* 3)[:-3]

'Amazon River, Brazil - Amazon River, Brazil - Amazon River, Brazil'

## Exercise 12: Extracting and Formatting Coordinates

- Given a string with the format `"latitude, longitude"` (e.g., `"40.7128N, 74.0060W"`), extract the numeric values of latitude and longitude.
- Convert these values to floats and remove the directional indicators (`N`, `S`, `E`, `W`).
- Format the coordinates into a `POINT` WKT string (e.g., `"POINT(-74.0060 40.7128)"`).

In [ ]:
str12 = "40.7128N, 74.0060W"
str12_latitude = float(str12.split(",")[0][:-1])
str12_longitude = float(str12.split(",")[1][:-1]) * -1
print(f"POINT({str12_longitude} {str12_latitude})")

POINT(-74.006 40.7128)

## Exercise 13: Building Dynamic SQL Queries

- Given a table name and a condition, dynamically build an SQL query string.
- Example: If `table_name = "cities"` and `condition = "population > 1000000"`, the query should be `"SELECT * FROM cities WHERE population > 1000000;"`.
- Add additional conditions dynamically, like `AND` clauses.

In [ ]:
table_name = "cities"
condition = "population > 1000000"
query = f"SELECT * FROM {table_name} WHERE {condition};"
print(query)

condition2 = "area > 10000"
query = f"SELECT * FROM {table_name} WHERE {condition} AND {condition2};"
print(query)

SELECT * FROM cities WHERE population > 1000000;
SELECT * FROM cities WHERE population > 1000000 AND area > 10000;

## Exercise 14: String Normalization and Cleaning

- Given a list of city names with inconsistent formatting (e.g., `[" new york ", "Los ANGELES", "   CHICAGO"]`), normalize the names by:
  - Stripping any leading or trailing whitespace.
  - Converting them to title case (e.g., `"New York"`, `"Los Angeles"`, `"Chicago"`).
- Ensure that the output is a clean list of city names.

In [ ]:
raw_city_list = [" new york ", "Los ANGELES", "   CHICAGO"]
clean_city_list = [city.strip().title() for city in raw_city_list]
print(clean_city_list)

['New York', 'Los Angeles', 'Chicago']

## Exercise 15: Parsing and Extracting Address Information

- Given a string in the format `"Street, City, Country"` (e.g., `"123 Main St, Springfield, USA"`), write a function that parses the string into a dictionary with keys `street`, `city`, and `country`.
- The function should return a dictionary like `{"street": "123 Main St", "city": "Springfield", "country": "USA"}`.

In [ ]:
str15 = "123 Main St, Springfield, USA"
def parse_address(address):
    street, city, country = address.split(", ")
    return {"street": street, "city": city, "country": country}

dict_15 = parse_address(str15)
print(dict_15)

{'street': '123 Main St', 'city': 'Springfield', 'country': 'USA'}

## Exercise 16: Using For Loops to Process Coordinate Lists

- Create a list of tuples representing coordinates (latitude, longitude).
- Write a `for` loop that prints each coordinate and indicates whether it is in the Northern or Southern Hemisphere based on the latitude.

In [ ]:
coordinates_list_16 = [(40.7128, -74.0060), (34.0522, -118.2437), (41.8781, -87.6298)]
for coordinate in coordinates_list_16:
    if coordinate[0] >= 0:
        print(f"{coordinate} is in the Northern Hemisphere")
    else:
        print(f"{coordinate} is in the Southern Hemisphere")

(40.7128, -74.006) is in the Northern Hemisphere
(34.0522, -118.2437) is in the Northern Hemisphere
(41.8781, -87.6298) is in the Northern Hemisphere

## Exercise 17: While Loops for Iterative Processing

- Create a list of coordinates (latitude, longitude).
- Write a `while` loop that continues to print each coordinate until it encounters a coordinate with a negative latitude.
- Stop the loop once this condition is met.

In [ ]:
coordinates_list_17 = [(40.7128, -74.0060), (-34.0522, -118.2437), (41.8781, -87.6298)]
i = 0
while coordinates_list_17[i][0] >= 0:
    print(coordinates_list_17[i])
    i += 1

(40.7128, -74.006)

## Exercise 18: Conditional Logic in Loops

- Create a list of coordinates and use a `for` loop to iterate over them.
- Use an `if-elif-else` statement inside the loop to classify each coordinate based on its longitude:
  - Print `"Eastern Hemisphere"` if the longitude is greater than 0.
  - Print `"Western Hemisphere"` if the longitude is less than 0.

In [ ]:
coordinates_list_18 = [(40.7128, -74.0060), (-34.0522, -118.2437), (41.8781, 87.62)]
for coordinate in coordinates_list_18:
    if coordinate[1] > 0:
        print("Eastern Hemisphere")
    elif coordinate[1] < 0:
        print("Western Hemisphere")

Western Hemisphere
Western Hemisphere
Eastern Hemisphere

## Exercise 19: Filtering Data with Combined Loops and Conditionals

- Given a list of coordinates, filter out and store only those located in the Southern Hemisphere (latitude < 0).
- Count the number of coordinates that meet this condition and print the result.

In [ ]:
coordinates_list_19 = [(40.7128, -74.0060), (-34.0522, -118.2437), (41.8781, -87.6298)]
count = 0
for coordinate in coordinates_list_19:
    if coordinate[0] < 0:
        count += 1
print(count)

1

## Exercise 20: Generating and Analyzing Random Coordinates

- Write a program that generates random coordinates (latitude between [-90, 90] degrees and longitude between [-180, 180] degrees).
- Use a `while` loop to keep generating coordinates until a pair with both latitude and longitude greater than 50 is generated.
- Print each generated coordinate and the final coordinate that meets the condition.

In [ ]:
import random

def generate_random_coordinate():
    return (random.uniform(-90, 90), random.uniform(-180, 180))

while True:
    random_coordinate = generate_random_coordinate()
    if random_coordinate[0] > 50 and random_coordinate[1] > 50:
        print(random_coordinate)
        break
    else:
        print(random_coordinate)

(63.23681272538499, 27.829140655693777)
(86.22186052681855, 17.093597934879966)
(-71.94064901005139, -19.684734597608355)
(-33.00938789263685, -38.082780953941636)
(-0.11290528022118451, -165.24976175931863)
(53.839234571065475, 160.97878027100336)